# ==========================================
# 1. VISUAL STUDIO / C++ (StacjaWiezyczki)
# ==========================================
.vs/
x64/
Debug/
Release/
*.obj
*.exe
*.pdb
*.idb
*.user
*.ilk

# ==========================================
# 2. STM32CubeIDE (Wiezyczka_Serwo)
# ==========================================
Wiezyczka_Serwo/Debug/
Wiezyczka_Serwo/Release/
*.elf
*.map
*.list
*.hex
*.bin

# ==========================================
# 3. ESP32 / ARDUINO
# ==========================================
Esp32/build/

# ==========================================
# 4. SYSTEMOWE ŚMIECI WINDOWS
# ==========================================
Thumbs.db
desktop.ini